<div class="card mb-4">

    <!-- card header -->
    <div class="card-header">
        <h2 class="mb-0">Ng OnChanges</h2>
    </div>

    <div class="card-body">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input id="name" matInput type="text">
            <mat-icon matPrefix>text_fields</mat-icon>
        </mat-form-field>



        <div class="row">
            <div class="col-md-4">
                <button type="submit" mat-raised-button class="btn btn-primary" color="accent">
                    Show
                </button>
            </div>
        </div>
    </div>


</div>
