<div class="sidebar d-flex">
    <ul class="flex-column w-100 p-0">
        <li routerLinkActive="active">
            <a class="d-flex w-100 align-items-center" routerLink="/pages" routerLinkActive="active">
                <i class="fas"></i>
                <span class="mx-2">Home</span>
            </a>
            <a class="d-flex w-100 align-items-center" routerLink="/pages/lifeCycle" routerLinkActive="active">
                <i class="fas"></i>
                <span class="mx-2">Life Cycle</span>
            </a>
        </li>
    </ul>
</div>