<div class="card mb-4">

    <!-- card header -->
    <div class="card-header">
        <h2 class="mb-0">Calender Of {{ targetYear }}</h2>
    </div>

    <div class="card-body">


        <div *ngIf="yearsList.length > 0" class="mt-2">
            <div class="d-flex justify-content-start align-items-center mb-2">
                <mat-icon class="me-2 " matPrefix>filter_list</mat-icon>
                <span class="filterSpan">Filter by year :</span>
            </div>
            <mat-form-field appearance="outline" class="col-12 col-md-4 col-lg-4 mb-2">
                <mat-select panelClass="myPanelClass" (selectionChange)="selectYear($event)"
                    [(ngModel)]="defaultChoosenYear">
                    <mat-option *ngFor="let year of yearsList" [value]="year.value">
                        <span translate>{{ year.text }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        

        <div class="row mb-2">
            <div class="col-md-6">
                <h2 class="fw-bold mb-1">
                    All Events
                </h2>
            </div>
        </div>



        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Starts at</th>
                        <th>Ends at</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="events.length === 0">
                        <td style="text-align: center;" colspan="4">
                            <h4 class="noEventsMsg">No Events Available</h4>
                        </td>
                    </tr>
                    <tr *ngFor="let event of events">
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="event.title" />
                        </td>
                        <td>
                            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                                [altInput]="true" [convertModelValue]="true" [enableTime]="true" minDate={{minDate}}
                                maxDate={{maxDate}} dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                                placeholder="Not set" />
                        </td>
                        <td>
                            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                                [altInput]="true" [convertModelValue]="true" [enableTime]="true" maxDate={{maxDate}}
                                [minDate]="event.start" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                                placeholder="Not set" />
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteEvent(event)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row my-2">
            <div class="col-12 d-flex justify-content-center ">
                <button type="button" class="addBtn d-flex justify-content-center align-items-center"
                    (click)="addEvent()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>


        <hr class="primary">

        <div class="col-12 text-end mb-3">
            <button (click)="sendEvents()" type="button" mat-raised-button color="basic" class="mx-2"><span
                    translate>Add Events</span></button>
        </div>
    </div>


</div>