<div *ngIf="loading" class="preloader">
  <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <span>Loading...</span>
  </div>
</div>
<div class="site-wraper">
  <app-header (fullView)="fullView()"></app-header>
  <app-side-menu [ngClass]="{'fullView': fullLayout}" class="p-3"></app-side-menu>
  <main class="main" #mainContent [ngClass]="{'fullView': fullLayout}">
      <div class="container-fluid">
          <router-outlet (activate)="onActivate()"></router-outlet>
      </div>
  </main>
  <app-footer [ngClass]="{'fullView': fullLayout}"></app-footer>
</div>