<footer class="bg-white py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <p class="mb-0">
                    <span>
                        {{currentYear}} ©
                    </span>
                    <span translate>
                        copyright
                    </span>
                </p>
                <p class="mb-0">
                    <span translate="">poweredBy </span>
                    <a href="">AL-Hussien</a>
                </p>
            </div>
        </div>
    </div>
</footer>