/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-side-menu {
    left: 0;
    &.fullView {
        left: -300px;
        transition: all 300ms ease-in-out;
    }
}

.card {
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}

.main {
    margin: 112px 0 0 300px;
    transition: all 300ms ease-in-out;
    &.fullView {
        margin-left: 0;
        transition: all 300ms ease-in-out;
    }
    .container-fluid {
        padding: 0 30px;
    }
}

app-footer {
    margin-top: auto;
    margin-left: 300px;
    transition: all 300ms ease-in-out;
    &.fullView {
        margin-left: 0;
        transition: all 300ms ease-in-out;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
